{% extends "navbar.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'ingredients/index.js' %}"></script>

<div class="container">
  <h3 class="black-text">Current Ingredients</h3>
  <hr>
  <!-- List of selected ingredients -->
  <div id="inventory"></div>
  <!-- What gets displayed when there is no selected ingredients -->
  <p id="inventoryEmpty" class="grey-text text-darken-1">Selected ingredients from below will appear here.</p>
  <!-- What gets displayed when there are selected ingredients -->
  <div id="inventoryButtons" style="display: none;">
    <a onclick="clearIngredients()" class="waves-effect waves-light btn blue">
      Clear
      <i class="material-icons right">delete</i>
    </a>
    <a onclick="performSearch()" class="waves-effect waves-light btn blue">
      Search
      <i class="material-icons right">search</i>
    </a>
  </div>
  <!-- Key corresponds to Category and Value corresponds to array of Ingredients -->
  {% for key, value in categories.items %}
    <h3 class="black-text">{{ key.capitalize }}</h3>
    <hr>
    <!-- Make a checkbox for each Ingredient in this Category -->
    {% if value %}
      <div class="row">
      {% for ingredient in value %}
        {% with ingredient.id|stringformat:'s'|add:'_ingredient' as ingredient_id %}
        <span class="col m4 l2">
          <input type="checkbox" onclick="updateIngredient({name:'{{ ingredient.name }}',id:'{{ingredient.id}}'})" id="{{ ingredient_id }}" />
          <label class="flow-text" for="{{ ingredient_id }}">{{ ingredient.name.capitalize }}</label>
        </span>
        {% endwith %}
      {% endfor %}
      </div>
    <!-- No Ingredients in this Category -->
    {% else %}
      <p class="grey-text text-darken-1">No {{ key }} ingredients are available.</p>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}