{% extends "navbar.html" %}

{% block content %}

<form action="#">
  <h3 class="black-text">Current Ingredients</h3>
  <hr>
  <!-- How an ingredient will be displayed
    <div class="chip">
      {{ ingredient.name }}
      <i class="material-icons">close</i>
    </div>
  -->

  <!-- What gets displayed when there is selected ingredients
    <br>
    <a class="waves-effect waves-light btn blue"><i class="material-icons right">delete</i>Clear</a>
    <a class="waves-effect waves-light btn blue"><i class="material-icons right">search</i>Search</a>
  -->

  <!-- What gets displayed when there is no selected ingredients -->
  <p class="grey-text text-darken-1">Selected ingredients from below will appear here.</p>

  <!-- Key corresponds to Category and Value corresponds to array of Ingredients -->
  {% for key, value in ingredients.items %}
    <h3 class="black-text">{{ key.capitalize }}</h3>
    <hr>
    <!-- Make a checkbox for each Ingredient in this Category -->
    {% if value %}
      <div class="row">
      {% for ingredient in value %}
        <span class="col m4 l2">
          <input type="checkbox" id="{{ ingredient.id }}" />
          <label class="flow-text" for="{{ ingredient.id }}">{{ ingredient.name.capitalize }}</label>
        </span>
      {% endfor %}
      </div>
    <!-- No Ingredients in this Category -->
    {% else %}
      <p class="grey-text text-darken-1">No {{ key }} ingredients are available.</p>
    {% endif %}
  {% endfor %}
</form>

{% endblock %}