<!-- User Ingredients -->
<div id="ingredient-inputs" class="col s10 m10 l6 offset-s1 offset-m1">
    <div id="ingredient-input-wrapper">
        <div class="row ingredient-input">
            <!-- Ingredient -->
            <div class="col s3">
               {{ key }}
            </div>
            <!-- Quantity -->
            <div class="col s3">
                <input type="text" value="{{ value }}"/>
                <label>Quantity</label>
            </div>
            <div>
                <button class="waves-effect waves-light btn blue" name="deleteIngredient" >Delete</button>
            </div>
        </div>
    </div>
</div>