<!-- User Ingredients -->
<div id="ingredient-inputs" class="col s10 m10 l6 offset-s1 offset-m1">
    <div id="ingredient-input-wrapper">
        <div class="row ingredient-input" data-id="{{ ingredient.id }}" data-name="{{ ingredient.name }}">
            <!-- Ingredient -->
            <div class="col s3">
               {{ ingredient.name }}
            </div>
            <!-- Quantity -->
            <div class="col s3 input-field">
                <input type="number" value="{{ ingredient.quantity }}" class="validate" name="{{ ingredient.name }}_quantity" id="{{ ingredient.id }}_quantity" required/>
                <label>{{ ingredient.uom }}</label>
            </div>
            <div>
                <button type="button" class="waves-effect waves-light btn blue delete-button" name="deleteIngredient" >Delete</button>
            </div>
        </div>
    </div>
</div>