<div class="row">
    <form id="add-ingredients-form" action="{% url 'ingredients.add' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="add_ingredients" name="add_ingredients" value="{{ add_ingredients }}" />
        <div id="ingredientListContainer" class="col s12 m4">
            <br>
            <select id="ingredientList" data-placeholder="Select Ingredients" class="z-depth-2 browser-default chosen-select" multiple tabindex="6">
                <option value=""></option>
                {% if categories %}
                    <!-- Ingredients exist, list them -->
                    {% for key, value in categories.items %}
                        {% if value %}
                            <!-- Make an optgroup for each category -->
                            <optgroup label="{{ key.capitalize }}">
                                <!-- Make an option for each ingredient -->
                                {% for ingredient in value %}
                                    <option value="{{ ingredient.id }}">{{ ingredient.name.capitalize }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <!-- No ingredients exist -->
                    <option disabled>No ingredients available</option>
                {% endif %}
            </select>
        </div>
        <div class="col s12 m4">
            <br>
            <button id="addIngredientsButton" class="col s12 btn waves-effect waves-light blue right" type="submit" name="action">
                Add Ingredients
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
</div>
<br>
<div class="row">
    <form class="col s12" id="pantry_form" action="{% url 'user.profile' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="ingredient_objects" name="ingredient_objects" value="[]"/>
        <input type="hidden" id="deleted_ingredients" name="deleted_ingredients" value="[]"/>
        {% if user_ingredients %}
            <div class="row">
                {% for ingredient in user_ingredients %}
                    <!-- Add the Ingredient Row template -->
                    {% include 'ingredients/ingredientRow.html' %}
                {% endfor %}
            </div>
        {% else %}
            <!-- User doesn't have any ingredients -->
            <p>You have no selected ingredients.</p>
        {% endif %}
        <div class="col s12 m4">
            <button type="submit" name="submitIngredients" class="col s12 waves-effect waves-light btn blue">
                Update Pantry
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <form id="search-recipes-form" class="col s12" action="{% url 'recipes.search' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="search_ingredients" name="search_ingredients" value="{{ search_ingredients }}"/>
        <div class="col s12 m4">
            <button id="searchButton" class="col s12 btn waves-effect waves-light blue" type="submit" name="action">
              Search 
              <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>