<div class="row ingredient-input">
    <!-- Category -->
    <div class="input-field col s3">
        <select class="browser-default" id="{{ category.field_name }}" name="{{ category.field_name }}" required title="categories">
            <option value="" disabled hidden selected>Category..</option>
            {% for cat, _ in form.ingredient_choices.items %}
                <option {% if category.category == cat %}selected {% endif %}value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Ingredient -->
    <div class="input-field col s3">
        <label class="{% if ingredient.ingredient %}active{% endif %}"for="{{ ingredient.field_name }}">Ingredient</label>
        <input class="ingredients" {% if not category.category %}disabled{% endif %} id="{{ ingredient.field_name }}"
               type="text" list="{{ category.category }}" name="{{ ingredient.field_name }}" value="{{ ingredient.ingredient }}" >
    </div>
    <!-- Quantity -->
    <div class="col s2 input-field">
        <label class="{% if qty.qty %}active{% endif %}" for="{{ qty.field_name }}">Qty</label>
        <input id="{{ qty.field_name }}" type="number" name="{{ qty.field_name}}" value="{{ qty.qty }}" min="0.01"
               step="0.01" max="99.99"required/>
    </div>
    <!-- UOM -->
    <div class="col s2 input-field">
        <label class="{% if uom.uom %}active{% endif %}" for="{{ uom.field_name }}">Units</label>
        <input class="units" id="{{ uom.field_name }}" type="text" name="{{ uom.field_name }}" value="{{ uom.uom }}"
                {% if not uom.uom %}disabled{% else %}readonly{% endif %}/>
    </div>
    <div class="col s1 input-field">
        <a class="ingredient-remove btn-floating btn waves-effect waves-light blue disabled left">
            <i class="material-icons">remove</i></a>
    </div>
</div>