{% extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}" />
    <script src="{% static 'recipes/create.js' %}"></script>

    <div class="container">
        <h3 class="black-text">{{ page_title }}</h3>
        <hr>

        {% if error_message %}
            <ul class="collection red lighten-2">
                <li class="collection-item valign-wrapper red lighten-2 white-text">
                    <i class="material-icons valign left">error_outline</i>
                    {{error_message}}
                </li>
            </ul>
        {% endif %}

        {% if success_message %}
            <ul class="collection green lighten-2">
                <li class="collection-item valign-wrapper green lighten-2 white-text">
                    <i class="material-icons valign left">done</i>
                    {{success_message}}
                </li>
            </ul>
        {% endif %}


        <form id="recipe-form" action="{% if recipe_id %}{% url 'recipes.edit' recipe_id %}
        {% else %}{% url 'recipes.create' %}{% endif %}" method="POST">
            {% csrf_token %}
            <input id="next" type="hidden" value="{{ next }}"/>
            <input id="uom-lookup" type="hidden" value="{{ uom_lookup }}"/>
            <input id="ingr-index" type="hidden" value="{{ form.ingr_index }}"/>
            <input id="inst-index" type="hidden" value="{{ form.inst_index }}"/>
            <input id="ingredient-name" type="hidden" value="{{ form.get_ingredient_name }}"/>
            <input id="qty-name" type="hidden" value="{{ form.get_qty_name }}"/>
            <input id="uom-name" type="hidden" value="{{ form.get_uom_name }}"/>
            <input id="category-name" type="hidden" value="{{ form.get_category_name }}"/>
            <input id="instruction-name" type="hidden" value="{{ form.get_instruction_name }}"/>

            {% for category, ingredients in form.ingredient_choices.items %}
                <datalist id="{{ category }}">
                    {% for ingredient in ingredients %}
                        <option value="{{ ingredient.name | capfirst }}"></option>
                    {% endfor %}
                </datalist>
            {% endfor %}

            <!-- Recipe Name -->
            <div class="row">
                <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3 input-field">
                    <label class="active" for="recipe_name">Name of Recipe</label>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required
                           value="{{ form.get_name | title}}" length="50" maxlength="50"/>
                </div>
            </div>

            <div class="row">
                <!-- Recipe Ingredients -->
                <div id="ingredient-inputs" class="col s10 m10 l6">
                    <h4>Ingredients</h4>
                    <div id="ingredient-input-wrapper">
                        {% for category, ingredient, qty, uom in ingredient_fields %}
                            {% include 'recipes/ingredientinputs.html' %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <a id="ingredient-add" class="waves-effect waves-light blue btn col s2"><i class="material-icons right">add</i>add</a>
                    </div>
                </div>

                <!-- Recipe Instructions -->
                <div id="instruction-inputs" class="col s10 m10 l6 offset-s1 offset-m1">
                    <h4>Instructions</h4>
                    <div id="instruction-input-wrapper">
                        {% for instruction in instructions %}
                            <div class="row input-field instruction-input">
                                <label class="{% if instruction.instruction %}active {% endif %}" for="{{ instruction.field_name }}">
                                    <span>Step</span></label>
                                <input class="col s11" id="{{ instruction.field_name }}" type="text"
                                       name="{{ instruction.field_name }}" value="{{ instruction.instruction }}" required>
                                <a class="instruction-remove disabled btn-floating btn waves-effect waves-light blue right">
                                    <i class="material-icons">remove</i></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <a id="instruction-add" class="waves-effect waves-light blue btn col s2"><i class="material-icons right">add</i>add</a>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <hr>
            <button class="btn waves-effect waves-light blue right" type="submit" name="action">{{ button_type }}</button>
        </form>
    </div>
{% endblock %}