<div class="col l6 m8 offset-m2 s12">
  <div class="card">
    <div class="card-image">
      <div class="row">
        {% if user and user.is_authenticated %}
        <div class="recipe-card-favorite left">
          <i data-recipeid="{{ recipe.id }}" class="material-icons left red-text">
          {% if recipe in favorites %}
          favorite
          {% else %}
          favorite_border
          {% endif %}
          </i>
        </div>
        {% endif %}

        <div class="recipe-card-rating left" data-recipeid="{{ recipe.id }}" data-rating-sum="{{ recipe.ratings_sum }}" data-num-ratings="{{ recipe.num_ratings }}">

        </div>

        <div class="recipe-card-comments right">
          <i class="material-icons left blue-text">comment</i>
        </div>
      </div>

      <div class="row">
        <div class="recipe-card-top-ingredients">
        {% for recipeIngredient in recipe.recipeingredients_set.all %}
          <div class="col s6 m6 l4 center">
            <h5>{{ recipeIngredient.ingredient.name }}</h5>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-content white-text indigo activator">
      <span class="card-title activator">
        {{ recipe.name }}
        <i class="material-icons right">more_vert</i>
      </span>
    </div>
    <div class="card-reveal white-text blue">
      <span class="card-title">
        {{ recipe.name }}
        <i class="material-icons right">close</i>
      </span>
      <div class="row">
        <div class="col s12 m12 l6 recipe-card-second-ingredients">
          <h5>Ingredients</h5>
          <ul>
          {% for recipeIngredient in recipe.recipeingredients_set.all %}
          <li>{{ recipeIngredient.quantity }} {{ recipeIngredient.ingredient.uom }} {{ recipeIngredient.ingredient.name }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col s12 m12 l6 recipe-card-instructions">
          <h5>Instructions</h5>
          <ol>
          {% for instruction in recipe.get_instructions %}
            <li>{{ instruction }}</li>
          {% endfor %}
          </ol>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn blue darken-3 recipe-card-make-drink" name="make_drink_button" data-id="{{ recipe.id }}">Make Drink!</a>
      </div>
    </div>

  </div>
</div>