<div class="card grey lighten-5">
  <div class="card-content">
    <h4 class="activator grey-text text-darken-4">{{ recipe.name }}<i class="material-icons small right">comment</i></h4>
    {% for recipeIngredient in recipe.recipeingredients_set.all %}
      <div class="chip">
          {{ recipeIngredient.ingredient.name }}
      </div>
    {% endfor %}
    <p class="card-title grey-text text-darken-4">Instructions</p>
    <hr>
    <ol>
    {% for instruction in recipe.instruction %}
      <li class="black-text">{{ instruction }}</li>
    {% endfor %}
    </ol>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Community Comments<i class="material-icons right">close</i></span>
    <p> There are no comments </p>
  </div>
</div>