<!-- Modal Structure -->
<div id="loginModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="form">
            {% if form.non_field_errors %}
                <ul class="collection red lighten-2">
                    {% for error in form.non_field_errors %}
                        <li class="collection-item valign-wrapper red lighten-2 white-text">
                            <i class="material-icons valign left">error_outline</i>
                            {{error}}
                        </li>
                    {%endfor%}
                </ul>
            {% endif %}
            <!-- Username Field -->
            <div class="row center-align">
                <div class="col s8 offset-s2 input-field">
                    <input id="loginUsername" type="text" class="validate" value="{{ username }}">
                    <label class="active" for="loginUsername">Username</label>
                </div>
            </div>
            <!-- Password Field -->
            <div class="row center-align">
                <div class="col s8 offset-s2 input-field">
                    <input id="loginPassword" type="password" class="validate">
                    <label class="active" for="loginPassword">Password</label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <!-- Login Button -->
        <button class="waves-effect waves-light btn blue" id="login_button">Login</button>
        <!-- Cancel Button -->
        <a class="modal-action modal-close waves-effect waves-light btn-flat" id="cancel_button">Cancel</a>
    </div>
</div>