{% extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'user/profile.css' %}">
    <script src="{% static 'user/profile.js' %}"></script>
    <script src="{% static 'recipes/card.js' %}"></script>
    <script src="{% static 'recipes/recipeRow.js' %}"></script>

    <div class="container">
        <h3 class="black-text">Profile</h3>
        <hr>

        {% if messages %}
            {% for message in messages %}
                <h6 class="green-text">{{message}}</h6>
            {%endfor%}
            <hr>
        {% endif %}

        <!-- Display User's Account Details -->
        <h5 class="activator grey-text text-darken-4">Account Details</h5>
        <div class="card grey lighten-5">
            <div class="card-content">
                <span class="black-text">Username:</span> <span class="grey-text text-darken-1">{{ profile.user.username }}</span>
                <br>
                <span class="black-text">Email:</span> <span class="grey-text text-darken-1">{{ profile.user.email }}</span>
            </div>
        </div>
        <div class="form">
            <div class="row center-align">
                <div class="col s8 input-field">
                    <input id="oldPassword" name="oldpwd" type="password" class="validate">
                    <label class="active" for="loginPassword">Old Password</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s8 input-field">
                    <input id="newPassword" name = "pwd" type="password" class="validate">
                    <label for="newPassword">New Password</label>
                    {{form.pwd.errors}}
                </div>
             </div>
              <div class="row center-align">
                <div class="col s8 input-field">
                  <input id="newConfirmPassword" name = "pwd2" type="password" class="validate">
                  <label for="newConfirmPassword">Confirm New Password</label>
                  {{form.pwd2.errors}}
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button id = "regBut" name="submitPasswordChange" class="waves-effect waves-light btn blue">Change Password</button>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs grey lighten-5 z-depth-1">
                    <li class="tab col s3"><a class="active black-text" href="#pantryIngredients">Pantry</a></li>
                    <li class="tab col s3"><a class="black-text" href="#favoriteRecipes">Favorites</a></li>
                    <li class="tab col s3"><a class="black-text" href="#createdRecipes">Created</a></li>
                </ul>
            </div>
            <div id="pantryIngredients" class="col s12">
                {% include 'ingredients/pantry.html' %}
            </div>
            <div id="list-wrapper">
                <div id="favoriteRecipes" class="col s12">
                    <!-- Display a list of User's Favorited Recipes -->
                    {% for recipe in profile.get_favorites %}
                        <!-- Add the Recipe Row template -->
                        {% include 'recipes/recipeRow.html' %}
                    {% empty %}
                        <!-- User doesn't have any Favorited Recipes -->
                        There are no Favorite Recipes.
                    {% endfor %}
                </div>
                <div id="createdRecipes" class="col s12">
                    <!-- Display a list of User's Created Recipes  -->
                    {% for recipe in profile.get_created_recipes %}
                        <!-- Add the Recipe Row template -->
                        {% include 'recipes/recipeRow.html' %}
                    {% empty %}
                        <!-- User doesn't have any Create Recipes -->
                        There are no Created Recipes.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}