{% load staticfiles %}

<div id="navbar">
    {% if user.is_authenticated %}<div id="is-logged-in"></div>{% endif %}
    <nav class="indigo">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'recipes.search' %}" class="center brand-logo">
                    <img id="titleText" class="hide-on-small-only" src="{% static 'Drinklet/title-white.png' %}" />
                    <img id="titleLogo" class="hide-on-med-and-up" src="{% static 'Drinklet/logo-white.png' %}" />
                </a>
                <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="{% url 'recipes.search' %}">Search</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user.profile' %}">Profile</a></li>
                    {% endif %}
                </ul>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <div class="left" id="notification-wrapper">
                        {% include 'notifications/notification.html' %}
                        </div>
                        <li><a class="modal-trigger" href="{% url 'user.logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="modal-trigger" rel="loginModal" href="#loginModal">Login</a></li>
                        <li><a class="modal-trigger" rel="registerModal" href="#registerModal">Register</a></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-list">
                    <li><a href="{% url 'recipes.search' %}">Search</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user.profile' %}">Profile</a></li>
                        <li><a class="modal-trigger" href="{% url 'user.logout' %}">Logout</a></li>
                        <li class="divider"></li>
                        <div id="notification-mobile-wrapper">
                        {% include 'notifications/notification-mobile.html' %}
                        </div>
                    {% else %}
                        <li><a class="modal-trigger" rel="loginModal" href="#loginModal">Login</a></li>
                        <li><a class="modal-trigger" rel="registerModal" href="#registerModal">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% include 'fab.html' %}
</div>