/* Create Recipe */
body {
	counter-reset: instructions;
}

.instruction-input>label>span:after {
	counter-increment: instructions;
	content: ' #' counter(instructions);
}

/* Pagination Buttons */
.pagination a li {
	color: #444;
}
.pagination li.active {
	background-color: #3f51b5;
}
.pagination a li.active {
	color: #fff;
}

/* Recipe Card */
.recipe-card-comments {
	margin-top: 20px;
	margin-right: 40px;
	cursor: pointer;
}

.recipe-card-edit {
	margin-top: 20px;
	cursor: pointer;
}

.recipe-card-delete {
	margin-top: 20px;
	cursor: pointer;
}

.recipe-card-favorite, .recipe-card-rating {
	margin-top: 20px;
	margin-left: 40px;
	cursor: pointer;
}

.card-image {
	min-height: 250px;
}

.recipe-card-instructions ol {
	padding-left: 20px;
}

.recipe-card-second-ingredients ul {
	padding-left: 10px;
}

.recipe-card-make-drink {
	margin-left: 20px;
}

.recipe-card-rating>i:hover {
	color: black !important;
}

.missing-recipe {
	background-color: #FFF5F5;
}
/*Comments*/
.recipe-card-comment {
    display:none;
}

.input-field textarea:focus {
 border-bottom: 1px solid #3f51b5 !important;
 box-shadow: 0 0px 0 0 red !important;


}
   /* label focus color */
textarea:focus+label {
     color: grey !important;
}

.edit-comment{
    cursor:pointer;
    margin-right:10px;
}
.delete-comment{
    cursor:pointer;
}
.success-message{
    position:relative ;
}
.error-message{
    position:relative ;
}
.error-display{
    float:right;
    margin-right:40px;
    color:red;
    font-size:12px;
    text-align:center;
}
.filler{
    margin-top:30px;
}

.author {
	margin-right: 20px;
}

.num-left {
    margin-left: 10px;
}