/* Create Recipe */
body {
	counter-reset: instructions;
}

.instruction-input>label>span:after {
	counter-increment: instructions;
	content: ' #' counter(instructions);
}

/* Pagination Buttons */
.pagination a li {
	color: #444;
}
.pagination li.active {
	background-color: #3f51b5;
}
.pagination a li.active {
	color: #fff;
}

/* Recipe Card */
.recipe-card-comments {
	margin-top: 20px;
	margin-right: 40px;
	cursor: pointer;
}

.recipe-card-edit {
	margin-top: 20px;
	cursor: pointer;
}

.recipe-card-delete {
	margin-top: 20px;
	cursor: pointer;
}

.recipe-card-favorite, .recipe-card-rating {
	margin-top: 20px;
	margin-left: 40px;
	cursor: pointer;
}

.card-image {
	min-height: 250px;
}

.recipe-card-instructions ol {
	padding-left: 20px;
}

.recipe-card-second-ingredients ul {
	padding-left: 10px;
}

.recipe-card-make-drink {
	margin-left: 20px;
}

.recipe-card-rating>i:hover {
	color: black !important;
}

.missing-recipe {
	background-color: #FFF5F5;
}